---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">

	<header class="container mx-auto my-16">
		<div class="flex items-center gap-12">
			
			<div class="py-20">
				<!-- AI-Driven Innovations for a Smarter Tomorrow -->
				<div class="text-5xl tracking-tighter leading-[1.1] font-light mb-8">
					We help companies build AI-enabled solutions that address their toughest technical and product challenges
				</div>

				<button class="text-lg bg-zinc-900 text-white p-6 py-3">
					Engage with Us &nbsp; &RightArrow;
				</button>
			</div>
			<div class="font-logo text-zinc-900 text-[16rem] leading-none tracking-tighter">
				N<span class="text-green-600">X</span>Z
			</div>
		</div>
	</header>
	<div class="flex mb-16 border-y border-zinc-800">
		<div class="p-12 border-x border-zinc-800 font-light">
			<h3 class="font-medium text-3xl mb-4">Generative AI</h3>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi autem dolor fugiat necessitatibus ut incidunt iste rerum repellat aperiam sapiente, adipisci obcaecati voluptatem quidem fuga laborum. Corporis repellendus rem alias.</div>
		<div class="p-12 border-r border-zinc-800 font-light">
			<h3 class="font-medium text-3xl mb-4">Machine Learning</h3>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi autem dolor fugiat necessitatibus ut incidunt iste rerum repellat aperiam sapiente, adipisci obcaecati voluptatem quidem fuga laborum. Corporis repellendus rem alias.</div>
		<div class="p-12 border-r border-zinc-800 font-light">
			<h3 class="font-medium text-3xl mb-4">Product </h3>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi autem dolor fugiat necessitatibus ut incidunt iste rerum repellat aperiam sapiente, adipisci obcaecati voluptatem quidem fuga laborum. Corporis repellendus rem alias.</div>
		<div class="p-12 border-r border-zinc-800 font-light">
			<h3 class="font-medium text-3xl mb-4">DevOps / MLOps</h3>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi autem dolor fugiat necessitatibus ut incidunt iste rerum repellat aperiam sapiente, adipisci obcaecati voluptatem quidem fuga laborum. Corporis repellendus rem alias.</div>
	</div>

	<main class="pt-16 container mx-auto h-screen w-screen">
		
		<div class="text-center mx-auto w-2/3">
			<div class="font-bold mb-3">Responsible & Secure AI</div>
			<h1 class="text-zinc-800 text-6xl font-semibold text-balance tracking-tight mb-20 " >
				Next Generation AI Security Framework
			</h1>
		</div>

		<div class="flex gap-16">
			<p class="text-3xl w-2/5 shrink-0">
				Ensures ethical AI use, prevents harmful content & unauthorized manipulations, and safeguards sensitive data through anonymization.
			</p>

			<div>
				<div class="font-bold mb-2">
					Moderates content
				</div>
				<p class="font-light">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, tenetur.
				</p>

			</div>
			<div>
				<div class="font-bold mb-2">
					Shields against attacks
				</div>
				<p class="font-light">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, tenetur.
				</p>
			</div>
			<div>
				<div class="font-bold mb-2">
					Ensures anonymity
				</div>
				<p class="font-light">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, tenetur.
				</p>
			</div>
		</div>
		<p>
			
		</p>
		
	</main>
</Layout>

