---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

import BaseHead from "../components/BaseHead.astro";
import NewsletterButton from "../components/newsletter.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="landing h-screen flex max-sm:items-center">
			<!-- <nav
				class="sticky top-0 flex justify-center gap-8 py-6 text-lg text-primary backdrop-blur-lg z-10"
			>
				<div class="hover:text-white duration-200">Home</div>
				<div class="hover:text-white duration-200">About</div>
				<div class="hover:text-white duration-200">Services</div>
				<div class="hover:text-white duration-200">Blog</div>
				<div class="hover:text-white duration-200">Contact</div>
			</nav> -->

			<div class="hero grow md:flex lg:flex-row-reverse container mx-auto p-8 max-lg:text-center">
				

				<header class="py-4 self-center mr-auto">
					<div class="font-logo text-8xl lg:text-9xl logo text-white animate-appear200 opacity-0">
						N<span class="text-accent">X</span>Z
					</div>
				</header>


				<div class="self-center lg:w-1/2 ml-auto">
					<div class="text-white text-6xl  animate-appear opacity-0 hidden lg:block">Leading the future</div>
					<div class="text-white text-6xl  animate-appear opacity-0 lg:hidden">The future</div>
					<div class="text-accent text-6xl  animate-appear200 opacity-0">of AI Innovation</div>
					<p class="text-lg mt-4 leading-relaxed text-balance  animate-appear400 opacity-0">
						Transforming Businesses with Innovative AI Technologies for enhanced
						efficiency, security, and productivity.
					</p>

					
					<button
						id="open-popup-btn"
						class="mt-6 bg-accent text-black font-bold rounded-lg 
						w-64 sm:w-52 h-12 mr-0 sm:mr-4 lg:mr-6 mb-2 sm:mb-0
					hover:bg-accentlight duration-200 text-lg animate-appear600 opacity-0"
					>
						Join our newsletter
					</button>
				</div>

				

			</div>
		</div>

		<!-- <div class="products container mx-auto">
			<div>
				<div class="w-2/5">
					<div class="text-5xl font-bold text-white mb-6">
						AI Guardrails - Secure Your AI Implementations
					</div>
					<p class="mb-6 leading-loose">
						A robust solution designed to ensure the safe and ethical use of AI.
						Helps prevent risks of harmful content, unauthorized AI
						manipulations, and prompt injections, while also safeguarding
						sensitive information through data anonymization.
					</p>
				</div>

				<div>
					<ul class="mb-6 text-white checklist">
						<li>Moderates and filters inappropriate content</li>
						<li>Shields against Adversarial attacks</li>
						<li>Ensures sensitive data remains anonymous</li>
					</ul>
				</div>
			</div>
		</div>

	
		<footer class="p-4 bg-zinc-900">
			<div
				class="container mx-auto rounded-t-lg flex items-center justify-between"
			>
				<div class="w-2/3 leading-snug text-balance">
					Ready to elevate your business with AI? Get in touch with us today
					to learn more about how our solutions can transform your
					organization.
				</div>

				<div>&copy;2024 nxz.ai</div>
			</div>
		</footer>
		-->


		<div id="popup" class="z-1000 fixed flex hidden items-center justify-center top-0 left-0 h-screen w-full bg-black bg-opacity-80 z-20">

			<div class="popup-content m-4 min-h-60 max-w-[880px]
			 p-16 relative flex items-center justify-center 
			bg-dark-600 bg-opacity-90 rounded-2xl backdrop-blur-md ">

				<button id="close-popup-btn" class="close-btn absolute right-8 top-8 w-5 h-5">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor">
						<path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z" />
					</svg>
				</button>

				<div class="lg:flex gap-12 items-center justify-center">

					<div class="newsletter-form max-w-[400px]">
						<div class="text-5xl  text-white mb-4">
							Stay Informed<br/>
							<span class="text-accent">Stay Inspired</span> 
						</div>
						<p class="leading-loose">
							Subscribe to our newsletter to receive the latest updates and insights from our AI experts be the first to know about our new products and services.
						</p>
					</div>
					<form id="popup-form" class="newsletter-form  mr-auto lg:max-w-[300px]">
						<input type="hidden" name="nonce" />
						<input id="c9869" type="checkbox" name="l" checked value="c98699e2-cce2-4530-9498-efae74af2c06" class="invisible"/>
						<input type="email" name="email" 
						placeholder="Your Email Address"
						class="px-4 py-4 w-full text-lg text-black font-medium text-center placeholder-gray-500 outline-none border bg-gray-300 border-gray-300 rounded-lg focus:ring focus:ring-green-300" required />
						<button type="submit" class="submit-btn mt-6 bg-accent text-black font-bold rounded-lg 
							h-12 mr-0 sm:mr-4 lg:mr-6 mb-2 sm:mb-0
						hover:bg-accentlight duration-200 text-lg w-full">Subscribe Now</button>
					</form>

					<div class="newsletter-confirm hidden">
						<div class="text-4xl font-bold text-white mb-4">
							Its time to confirm your email
						</div>
						<p class="leading-loose">
							Have we got your right email address to reach you on? Please click on the button below to confirm that you got our email.
						</p>
						<button id="confirm-email-btn" type="button" class="submit-btn mt-6 bg-accent text-black font-bold rounded-lg 
							h-12 mr-0 sm:mr-4 lg:mr-6 mb-2 sm:mb-0
						hover:bg-accentlight duration-200 text-lg px-8">Confirm Your Email</button>

					</div>

				</div>
			</div>
		</div>

	</body>
</html>






<script>
  document.addEventListener('DOMContentLoaded', () => {
    
    const popup = document.getElementById('popup');
	const form = document.getElementById('popup-form');

	const openPopupBtn = document.getElementById('open-popup-btn');
    const closePopupBtn = document.getElementById('close-popup-btn');
    const confirmDiv = document.querySelector('.newsletter-confirm');
    const formDiv = document.querySelector('.newsletter-form');
    const confirmEmailBtn = document.getElementById('confirm-email-btn');

    openPopupBtn.addEventListener('click', () => {
      popup.classList.remove('hidden');
    });

    closePopupBtn.addEventListener('click', () => {
      popup.classList.add('hidden');
    });

	form.addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(form);
        const email = formData.get('email');

        try {
            const response = await fetch('https://mail.nxz.ai/subscription/form', {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                formDiv.classList.add('hidden');
                confirmDiv.classList.remove('hidden');
            } else {
                alert('Subscription failed. Please try again.');
            }
        } catch (error) {
            alert('An error occurred. Please try again.');
        }
    });

    confirmEmailBtn.addEventListener('click', function() {
        const email = form.querySelector('input[name="email"]').value;
        const emailDomain = email.split('@')[1];

        window.open(`https://${emailDomain}`, '_blank');
        resetPopup();
    });

    closePopupBtn.addEventListener('click', function() {
        resetPopup();
    });

    function resetPopup() {
        formDiv.classList.remove('hidden');
        confirmDiv.classList.add('hidden');
        form.reset();
        document.querySelector('.popup-content').classList.add('hidden');
    }

    
  });
</script>



