---
import Openai from "../assets/openai.svg";
import DeepSeek from "../assets/deepseek.svg";
import Gemini from "../assets/gemini.svg";
import LlamaIndex from "../assets/llama_index.svg";
import LangChain from "../assets/langchain.svg";
import Aws from "../assets/aws.svg";
import Gcp from "../assets/gcp.svg";
import Azure from "../assets/azure.svg";
import TensorFlow from "../assets/tensorflow.svg";
import PyTorch from "../assets/pytorch.svg";
---
<div class="span-3 mt-20 border-t border-zinc-700/50 pt-12">
  <p class="text-zinc-400 text-center mb-8">Working with Technologies</p>
  
    <div class="flex flex-wrap justify-center gap-12
     *:rounded-lg *:grayscale">

      <div><Openai class="h-8 text-white scale-115" /></div>
      <div><DeepSeek class="h-8 "/></div>
      <div><Gemini class="h-8 -translate-y-1"/></div>
      <div><LlamaIndex class="h-8 invert grayscale"/></div>
      <div><LangChain class="h-8"/></div>
      <div><TensorFlow class="h-8"/></div>
      <div><PyTorch class="h-8 translate-y-1"/></div>
      <div><Aws class="h-8 translate-y-1"/></div>
      <div><Gcp class="h-8"/></div>
      <div><Azure class="h-8 scale-90"/></div>
    </div>
  </div>
</div>