<div class="container max-w-7xl mx-auto relative">
  
  <div class="mb-72 grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-8
  *:p-8 *:rounded-2xl *:min-h-[200px] *:text-zinc-400
  
  ">

    <div class="p-0!">
      <h1 class="text-5xl text-zinc-100 text-balance">Our Core Capabilities</h1>
      <div id="pulse"
        class="h-[2px] mt-8 w-md
        bg-gradient-to-r from-zinc-100 from-5% via-zinc-500 via-30% to-transparent"
      >
      </div>
    </div>

    <div class="hidden sm:block"></div>

    <div class=" bg-zinc-500/40">
      <h3 class="text-xl font-medium mb-4 text-zinc-300">AI Consulting</h3>
      <p>
        Create the AI strategy with expert guidance, identify the most impactful AI opportunities for your business, and chart a clear path to AI implementation.
      </p>
    </div>

    <div class="hidden sm:block"></div>

    <div class="bg-zinc-500/40">
      <h3 class="text-xl font-medium mb-4 text-zinc-300">Generative AI Development</h3>
      <p>
        Leverage our expertise to adapt cutting-edge, general-purpose Generative AI models into tailored solutions that address your unique business challenges
      </p>
    </div>  
    <div class="bg-zinc-700/40">
      <h3 class="text-xl font-medium mb-4 text-zinc-300">Enterprise AI Products</h3>
      <p>
        Equip your workforce with an intelligent AI assistant, enabling seamless information retrieval, semantic search, and automated summarization.
      </p>
    </div>
    <div class="bg-zinc-500/40 ">
      <h3 class="text-xl font-medium mb-4 text-zinc-300">AI Development</h3>
      <p>
        Elevate your business with customized AI solutions designed, developed, and deployed to fit your unique needs.
      </p>
    </div>
    <div class="bg-zinc-700/40">
      <h3 class="text-xl font-medium mb-4 text-zinc-300">Data Engineering</h3>
      <p>
        Transform raw data into actionable insights with robust data pipelines and infrastructure, enabling data-driven decision-making across your organization.
      </p>
    </div>
    <div class=" bg-zinc-500/40">
      <h3 class="text-xl font-medium mb-4 text-zinc-300">MLOps</h3>
      <p>
        Streamline your machine learning lifecycle, from development to deployment, ensuring faster time-to-market and reliable, scalable AI development solutions.
      </p>
    </div>
  



</div>