---
import Logo from '../assets/logo.jpeg';
---

<div id="header">
  <div class="py-4 px-8 flex items-center justify-between space-x-4">

    <div class="flex gap-4 items-center">
      <img id="logo" src={Logo.src} alt="NXZ" fetchpriority="high" class="h-10"/>
      <h1 class="text-zinc-100 text-2xl">NXZ.AI</h1>
    </div>
    

    <nav>
      <ul class="flex space-x-6 text-zinc-300">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

        <li><a href="/contact">Blog</a></li> 
        <li><a href="/contact">Contact</a></li> 
      </ul>
    </nav>

  </div>
</div>

