---
import ArrowDiagonal from "../assets/ArrowDiagonal.astro";


---

<div class="pt-10 sm:pt-32 pb-32 content-center">
  <div class="container max-w-7xl mx-auto relative">
    <h1 class="
    text-4xl sm:text-5xl md:text-6xl lg:text-7xl 
    max-w-5xl lg:max-w-4xl 2xl:max-w-7xl 
    tracking-tight 
    mb-10 text-white text-balance">
      
      <span class="text-teal-300">Artificial Intelligence </span>
      that creates unimagined opportunities for your business
    </h1>

    <div>
      <div id="pulse"
        class="h-[2px] max-w-xl mb-8
        bg-gradient-to-r from-zinc-100 from-5% via-zinc-500 via-30% to-transparent"
      >
      </div>
    </div>

    <p class="text-base sm:text-2xl text-zinc-400 leading-relaxed max-w-5xl mb-8">
      We provide world-class AI solutions that redefine what's possible for your
      business. From automating workflows to enhancing customer experiences, we
      craft bespoke machine learning and generative AI tools to help you thrive
      in the age of innovation.
    </p>

    <div class="pb-8 flex max-sm:flex-col gap-4">
      <a
        href="#contact"
        class="btn-primary"
      >
        Connect with Us
        <ArrowDiagonal/>
      </a>  
      <a
        href="#contact"
        class="btn-secondary"
      >
        Learn More
        <ArrowDiagonal/>
      </a>
    </div>
  

    <div> 
      <div class="absolute -z-1
      max-sm:-top-10 sm:bottom-0
      max-sm:left-4 sm:right-0
      max-sm:rotate-180 
      inline-grid grid-cols-2 sm:grid-cols-3  gap-4 opacity-40
      
      *:max-sm:w-[40vw] *:max-sm:h-[40vw]
      *:w-[200px] *:h-[200px] *:rounded-4xl">
        <div class=" bg-zinc-700/10"></div>
        <div class=" bg-zinc-700/20"></div>
        <div class=" bg-zinc-700/50 max-sm:hidden"></div>
        <div class=" bg-zinc-700/20"></div>
        <div class=" bg-zinc-700/50"></div>
        <div class=" bg-zinc-700/80 max-sm:hidden"></div>
        <div class=" bg-zinc-700/50"></div>
        <div class=" bg-zinc-700/80"></div>
        <div class=" bg-zinc-700 max-sm:hidden"></div>
      </div>
    </div>

    
  </div>
</div>




<style>
  @keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  #puls {
    animation: slideInFromRight 1.5s ease-in-out forwards;
  }
</style>

<!-- <div class="flex max-w-3xl ml-auto gap-8 bg-zinc-900 divide-x py-4 divide-zinc-600">

      <div class="px-4 pl-8">
        <h3 class="text-2xl font-medium text-zinc-100 mb-6">AI Consulting</h3>
        <p>Discover AI's practical advantages with custom solutions</p>
      </div>
      <div class="px-2">
        <h3 class="text-2xl font-medium text-zinc-100 mb-6">Generative AI</h3>
        <p>Adapt cutting-edge Generative AI to your business needs</p>
      </div>
      <div class="pl-4 pr-8">
        <h3 class="text-2xl font-medium text-zinc-100 mb-6">AI Development</h3>
        <p>Design, build, and train AI systems tailored to your needs.</p>
      </div>
      



    </div> -->
