---
import BaseHead from "../components/BaseHead.astro";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';



export interface Props {
  title?: string;
  description?: string;
  permalink?: string;
  current?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, permalink, current } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>
	<body class="bg-[#0C1015] text-zinc-100 px-8 xl:px-4">
		<!-- Glow Effects -->
		<div class="absolute inset-0 -z-10 overflow-hidden pointer-events-none">
			<div class="absolute -top-[500px] left-[200px] w-[800px] h-[800px] bg-teal-300/10 blur-[150px] rounded-full"></div>
		</div>
		<Header />
		<slot />
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
