---
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="bg-[#0C1015] text-zinc-100 px-8 xl:px-4">
		<!-- Glow Effects -->
		<div class="absolute inset-0 -z-10 overflow-hidden pointer-events-none">
			<div class="absolute -top-[500px] left-[200px] w-[800px] h-[800px] bg-teal-300/10 blur-[150px] rounded-full"></div>
		</div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
